
.svg1{
    
    border-radius: 30px;
    background: var(--osler-gray-white, #ffffff); 
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
    width: 40px;
    height: 30px; 
}
.svg3{
    border-radius: 30px;
    background: var(--osler-gray-white, #ffffff); 
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
    width: 40px;
    height: 30px; 
}
.svg2{
    border-radius: 30px;
    background: var(--osler-gray-white, #6dd643);
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
    width: 50px;
    height: 40px;
}
h2{
    display: flex;
    padding: 0 140px ;
    color: var(--osler-gray-80, #2F3C33); 
    font-family: Nunito;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: -1.8px;
    
}
p{
    color: #707c74;
    padding: 0 150px ;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    line-height: 160%;
    letter-spacing: -0.24px;
}
.svg4{
    padding: 0 160px;
    display: flex;
    align-items: center;
    gap: 13px;
    width: 780px;
    height: 20px;
}
.svg4 h5{
    color: #647067;
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;

}


.svg5 p{
    color: white;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.36px;
    border-radius: 29px;
    background-color: black;
}

.img{
    background: url(../img/BG.png)  no-repeat;

}
.block{
    width: 1440px;
    height: 140px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}
a {
    text-decoration: none;
    color: black;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border-radius: 12px;
}
.doctor{
    height: 560px
}
.monitor{
    height: 150px;
    position: absolute;
    right: 380px;
    top: 200px;
}
.calculator{
    height: 116px;
    position: absolute;
    right: 395px;
    top: 330px;
}
.review{
    height: 96px;
    position: absolute;
    top: 400px;
    right: 580px;
}
.tv{
    padding: 128px 118px;
    flex-direction: column;
    gap: 10px;
    border-radius: 180px;
    background: var(--osler-gray-80, #2F3C33); 
}
.tv h6{
    color: white;
    width: 140px;
    height: 46px;
    padding: 16px 24px;
    border-radius: 18px;
    background: var(--healing-green-50, #84CC16); 
}
.tv p{
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.2px;
    color: white;
}
.tv h2{
    color: white;
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -1.44px;
    position:relative;
    bottom: 200px;
    left: 250px;
}
.statistic{
    padding: 128px 118px;
    gap: 10px;
    border-radius: 180px;
    background: var(--healing-green-50, #84CC16); 
}
.statistic h4{
    color: white;
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -1.44px;
}
.proc {
    width: 400px;
    padding: 48px;
    border-radius: 64px;
    background: var(--osler-gray-white, #FFF); 
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05); 
}
.proc h3{
    font-family: Nunito;
    font-size: 62px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -2.16px;
}
.proc p {
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.72px;
    color: var(--osler-gray-80, #2F3C33);
}
.pres h3{
    font-family: Nunito;
    font-size: 62px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -2.16px;
    color: "M" green;
}
.pres {
    width: 400px;
    padding: 46px;
    border-radius: 64px;
    background: var(--osler-gray-white, #FFF); 
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05); 
}
.pres p {
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.72px;
    color: var(--osler-gray-80, #2F3C33);
}
.docs h3{
    font-family: Nunito;
    font-size: 62px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -2.16px;
}
.docs {
    width: 400px;
    padding: 46px;
    border-radius: 64px;
    background: var(--osler-gray-white, #FFF); 
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05); 
}
.docs p {
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.72px;
    color: var(--osler-gray-80, #2F3C33);
}
.services {
    padding: 128px 236px;
    border-radius: 180px;
    background: var(--osler-gray-10, #F5F5F5); 
}
.text h4{
    color: var(--osler-gray-80, #2F3C33);
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -1.44px;
}
.text p{
    text-align: center;
    height: 48px;
    border-radius: 18px;
    border: 1px solid var(--osler-gray-60, #647067);
    position: relative;
    bottom: 65px;
    left: 600px;
}
.tabs{
    padding: 32px;
    align-items: center;
    gap: 48px;
    border-radius: 64px;
    background: var(--osler-gray-white, #FFF);
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
}
.tabs P{
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    letter-spacing: -0.2px;
}
.svgd1{
    width: 80px;
    height: 80px;
    padding: 24px 25px 24px 23px;
    border-radius: 30px;
    background: var(--healing-green-10, #ECFCCB);   
    position: relative;
    top: 60px;
    left: 50px;
}

.tabs h6{  
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    position: relative;
    top: 120px;
    right: 20px;
}
.tabs h4{
    font-family: Nunito;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 32px;
letter-spacing: -0.72px;
position: relative;
left: 150px;
}
.tabs .arrow {
    position: relative;
    left: 700px;
    bottom: 100px;

}
.svgd2{
    width: 80px;
    height: 80px;
    padding: 24px 25px 24px 23px;
    border-radius: 30px;
    background: var(--remote-red-10, #FFE4E7);   
    position: relative;
    top: 60px;
    left: 50px;
}

.svgd3{
    width: 80px;
    height: 80px;
    padding: 24px 25px 24px 23px;
    border-radius: 30px;
    background: var(--osler-gray-10, #F5F5F5);
    position: relative;
    top: 60px;
    left: 50px;
}

.svgd4{
    width: 80px;
    height: 80px;
    padding: 24px 25px 24px 23px;
    border-radius: 30px;
    background: var(--caring-violet-10, #EDE9FE);   
    position: relative;
    top: 60px;
    left: 50px;
}
.more{
    height: 100px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: var(--osler-gray-80, #2F3C33);
    position: relative;
    left: 270px;
}
.more p{
    font-family: Nunito;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: -0.36px;
color: var(--osler-gray-white, #FFF);
position: relative;
right: 60px;
}
.more .arrow{
    position: relative;
    bottom: 60px;
    left: 180px;
}
.core h2{
    color: var(--osler-gray-80, #2F3C33);
text-align: center;
font-family: Nunito;
font-size: 60px;
font-style: normal;
font-weight: 800;
line-height: 68px; 
letter-spacing: -1.8px;
position: relative;
left: 300px;
}
.feature{
    width: 410px;
height: 48px;
justify-content: center;
align-items: center;
border-radius: 18px;
border: 1px solid var(--osler-gray-60, #647067);
}
.core1 h2{
    color: var(--osler-gray-80, #2F3C33);
font-family: Nunito;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 56px;
letter-spacing: -1.44px;
}
.core1 p{
    color: var(--osler-gray-60, #647067);

font-family: Nunito;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
letter-spacing: -0.18px;
}
.faf h4{
    color: var(--osler-gray-80, #2F3C33);
font-family: Nunito;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: 38px;
letter-spacing: -0.9px;
position: relative;
left: 150px;
}
.faf p{
    font-family: Nunito;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.36px;
}
.faf2 h4{
    color: var(--osler-gray-80, #2F3C33);
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: -0.9px;
    position: relative;
    left: 350px;
    bottom: 82px;
}
.faf2 p{
    font-family: Nunito;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.36px;
position: relative;
left: 200px;
bottom: 85px;
}
.phone{
    width: 522px;
height: 636px;
border-radius: 180px;
background: var(--healing-green-50, #84CC16);
position: relative;
left: 550px;
bottom: 450px;
}
.phone2{
    position: relative;
    left: 220px;
    bottom: 500px;
}
.feature2{
    width: 410px;
height: 48px;
justify-content: center;
align-items: center;
border-radius: 18px;
border: 1px solid var(--osler-gray-60, #647067);
position: relative;
left: 700px;
}
.bar{
    height: 64px;
    border-radius: 24px;
background: var(--osler-gray-80, #2F3C33);
position: relative;
bottom: 700px;
}
.bar p{
    color: white;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.36px;
}
.but2 {
    position: relative;
    bottom: 747px;
    left: 300px;
}
.text2{
    position: relative;
    left: 560px;
}
.faf3 p{
    color: black;
    font-family: Nunito;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 32px; 
letter-spacing: -0.72px;
position: relative;
left: 570px;
}
.faf4 h4{
    font-family: Nunito;
font-size: 14px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: 1.4px;
text-transform: uppercase;
position: relative;
left: 1000px;
bottom: 40px;
}
.bar2{
    height: 8px;
    border-radius: 3px;
background: var(--healing-green-50, #84CC16);
position: relative;
left: 700px;
}
.bar3{
    height: 8px;
    border-radius: 3px;
    background: grey;
    position: relative;
    left: 1058px;
    bottom: 8px;
}
.phone3{
    width: 550px;
    height: 600px;
    border-radius: 180px;
background: var(--osler-gray-60, #647067);
position: relative;
bottom: 360px;
}
.bar4{
    height: 64px;
    border-radius: 24px;
background: var(--osler-gray-80, #2F3C33);
position: relative;
left: 750px;
bottom: 550px;
}
.bar4 p{
    color: white;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.36px;
}
.but3{
    position: relative;
    left: 1050px;
    bottom: 600px;
}
.faf5 h4{
    position: relative;
    left: 30px;
    bottom: 30px;
}
.faf6 h4{
    position: relative;
    left: 30px;
    bottom: 30px;
}
.faf7 h4{
    position: relative;
    left: 30px;
    bottom: 30px;
}
.phone4{
    width: 522px;
    height: 606px;
    border-radius: 180px;
    background: lightgray;
    position: relative;
    left: 560px;
    bottom: 450px;
}
.bar5{
    border-radius: 24px;
background: var(--osler-gray-80, #2F3C33);
position: relative;
bottom: 500px;
}
.bar5 p{
    color: white;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.36px;
}
.but4{
    position: relative;
    bottom: 550px;
    left: 300px;
}
.feature3{
    width: 410px;
height: 48px;
justify-content: center;
align-items: center;
border-radius: 18px;
border: 1px solid var(--osler-gray-60, #647067);
}
.cube{
    height: 10  00px;
    padding: 128px 118px;
    gap: 10px;
    border-radius: 180px;
background: var(--healing-green-50, #84CC16);
}

.oil p{
    padding: 16px 24px;
    color: white;
    font-family: Nunito;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.32px;
position: relative;
left: 400px;
height: 48px;
border-radius: 18px;
border: 1px solid var(--osler-gray-white, #FFF);
}
.cube h2{
    color: white;
    font-family: Nunito;
font-size: 60px;
font-style: normal;
font-weight: 800;
line-height: 68px;
letter-spacing: -1.8px;
position: relative;
left: 100px;
}
.boxes{

    padding: 32px;
    gap: 10px;
    border-radius: 64px;
background: var(--osler-gray-white, #FFF);
box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
}
.boxess{
    width: 80px;
height: 80px;
padding: 28px;
border-radius: 30px;
background: var(--healing-green-10, #ECFCCB);
}
.boxes p{
    width: 600px;
    color: gray;
    font-family: Nunito;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%;
    letter-spacing: -0.2px;
    position: relative;
    right: 150px;
}
.boxes h2{
font-family: Nunito;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 32px;
letter-spacing: -0.72px;
}
.boxes2{
height: 280px;
    padding: 32px;
    gap: 10px;
    border-radius: 64px;
background: var(--osler-gray-white, #FFF);
box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
position: relative;
left: 350px;
bottom: 286px;
}
.boxess2{
    width: 80px;
height: 80px;
padding: 28px;
border-radius: 30px;
background: var(--remote-red-10, #FFE4E7);
}
.boxes2 p{
    width: 600px;
    color: gray;
    font-family: Nunito;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%;
    letter-spacing: -0.2px;
    position: relative;
    right: 150px;
}
.boxes2 h2{
font-family: Nunito;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 32px;
letter-spacing: -0.72px;
}
.boxes3{
    height: 280px;
        padding: 32px;
        gap: 10px;
        border-radius: 64px;
    background: var(--osler-gray-white, #FFF);
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
    position: relative;
    left: 700px;
    bottom: 566px;
    }
.boxess3{
        width: 80px;
    height: 80px;
    padding: 28px;
    border-radius: 30px;
    background: var(--connectivity-blue-10, #EFF6FF);
    }
.boxes3 p{
        width: 600px;
        color: gray;
        font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
        letter-spacing: -0.2px;
        position: relative;
        right: 150px;
 }
.boxes3 h2{
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: -0.72px;
    }
    .boxes3{
    height: 280px;
        padding: 32px;
        gap: 10px;
        border-radius: 64px;
    background: var(--osler-gray-white, #FFF);
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
    position: relative;
    left: 700px;
    bottom: 566px;
    }
.boxess3{
        width: 80px;
    height: 80px;
    padding: 28px;
    border-radius: 30px;
    background: var(--connectivity-blue-10, #EFF6FF);
    }
.boxes3 p{
        width: 600px;
        color: gray;
        font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
        letter-spacing: -0.2px;
        position: relative;
        right: 150px;
 }
.boxes3 h2{
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: -0.72px;
    }.boxes3{
    height: 280px;
        padding: 32px;
        gap: 10px;
        border-radius: 64px;
    background: var(--osler-gray-white, #FFF);
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
    position: relative;
    left: 700px;
    bottom: 566px;
    }
.boxess3{
        width: 80px;
    height: 80px;
    padding: 28px;
    border-radius: 30px;
    background: var(--connectivity-blue-10, #EFF6FF);
    }
.boxes3 p{
        width: 600px;
        color: gray;
        font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
        letter-spacing: -0.2px;
        position: relative;
        right: 150px;
 }
.boxes3 h2{
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: -0.72px;
    }
    .boxes4{
        height: 280px;
            padding: 32px;
            gap: 10px;
            border-radius: 64px;
        background: var(--osler-gray-white, #FFF);
        box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
        position: relative;
        
        bottom: 556px;
        }
    .boxess4{
            width: 80px;
        height: 80px;
        padding: 28px;
        border-radius: 30px;
        background: var(--caring-violet-10, #EDE9FE);
        }
    .boxes4 p{
            width: 600px;
            color: gray;
            font-family: Nunito;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
            letter-spacing: -0.2px;
            position: relative;
            right: 150px;
     }
    .boxes4 h2{
        font-family: Nunito;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: 32px;
        letter-spacing: -0.72px;
        }
 .boxes4{
        height: 280px;
            padding: 32px;
            gap: 10px;
            border-radius: 64px;
        background: var(--osler-gray-white, #FFF);
        box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
        position: relative;
        
        bottom: 556px;
        }
    .boxess4{
            width: 80px;
        height: 80px;
        padding: 28px;
        border-radius: 30px;
        background: var(--caring-violet-10, #EDE9FE);
        }
    .boxes4 p{
            width: 600px;
            color: gray;
            font-family: Nunito;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
            letter-spacing: -0.2px;
            position: relative;
            right: 150px;
     }
    .boxes4 h2{
        font-family: Nunito;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: 32px;
        letter-spacing: -0.72px;
    } 
    .boxes5{
            height: 280px;
                padding: 32px;
                gap: 10px;
                border-radius: 64px;
            background: var(--osler-gray-white, #FFF);
            box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
            position: relative;
            left: 350px;
            bottom: 836px;
            }
        .boxess5{
                width: 80px;
            height: 80px;
            padding: 28px;
            border-radius: 30px;
            background: var(--osler-gray-10, #F5F5F5);
            }
        .boxes5 p{
                width: 600px;
                color: gray;
                font-family: Nunito;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
                letter-spacing: -0.2px;
                position: relative;
                right: 150px;
         }
        .boxes5 h2{
            font-family: Nunito;
            font-size: 24px;
            font-style: normal;
            font-weight: 800;
            line-height: 32px;
            letter-spacing: -0.72px;
            }
            .boxes5{
            height: 280px;
                padding: 32px;
                gap: 10px;
                border-radius: 64px;
            background: var(--osler-gray-white, #FFF);
            box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
            position: relative;
            left: 350px;
            bottom: 836px;
            }
        .boxess5{
                width: 80px;
            height: 80px;
            padding: 28px;
            border-radius: 30px;
            background: var(--osler-gray-10, #F5F5F5);
            }
        .boxes5 p{
                width: 600px;
                color: gray;
                font-family: Nunito;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
                letter-spacing: -0.2px;
                position: relative;
                right: 150px;
         }
        .boxes5 h2{
            font-family: Nunito;
            font-size: 24px;
            font-style: normal;
            font-weight: 800;
            line-height: 32px;
            letter-spacing: -0.72px;
            }
            .boxes6{
                height: 280px;
                    padding: 32px;
                    gap: 10px;
                    border-radius: 64px;
                background: var(--osler-gray-white, #FFF);
                box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
                position: relative;
                left: 700px;
                bottom: 1116px;
                }
            .boxess6{
                    width: 80px;
                height: 80px;
                padding: 28px;
                border-radius: 30px;
                background: var(--healing-green-10, #ECFCCB);
                }
            .boxes6 p{
                    width: 600px;
                    color: gray;
                    font-family: Nunito;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
                    letter-spacing: -0.2px;
                    position: relative;
                    right: 150px;
             }
            .boxes6 h2{
                font-family: Nunito;
                font-size: 24px;
                font-style: normal;
                font-weight: 800;
                line-height: 32px;
                letter-spacing: -0.72px;
                }
            